/****************************************************************************
E2010.rc
produced by Borland Resource Workshop
*****************************************************************************/
#include "ErrorBaseIds.h"

#define	E2010_ERROR_ID_00						(E2010_BASE_ERROR_ID + 0)
#define	E2010_ERROR_ID_01						(E2010_BASE_ERROR_ID + 1)
#define	E2010_ERROR_ID_02						(E2010_BASE_ERROR_ID + 2)
#define	E2010_ERROR_ID_03						(E2010_BASE_ERROR_ID + 3)
#define	E2010_ERROR_ID_04						(E2010_BASE_ERROR_ID + 4)
#define	E2010_ERROR_ID_05						(E2010_BASE_ERROR_ID + 5)
#define	E2010_ERROR_ID_06						(E2010_BASE_ERROR_ID + 6)
#define	E2010_ERROR_ID_07						(E2010_BASE_ERROR_ID + 7)
#define	E2010_ERROR_ID_08						(E2010_BASE_ERROR_ID + 8)
#define	E2010_ERROR_ID_09						(E2010_BASE_ERROR_ID + 9)
#define	E2010_ERROR_ID_10						(E2010_BASE_ERROR_ID + 10)
#define	E2010_ERROR_ID_11						(E2010_BASE_ERROR_ID + 11)
#define	E2010_ERROR_ID_12						(E2010_BASE_ERROR_ID + 12)
#define	E2010_ERROR_ID_13						(E2010_BASE_ERROR_ID + 13)
#define	E2010_ERROR_ID_14						(E2010_BASE_ERROR_ID + 14)
#define	E2010_ERROR_ID_15						(E2010_BASE_ERROR_ID + 15)
#define	E2010_ERROR_ID_16						(E2010_BASE_ERROR_ID + 16)
#define	E2010_ERROR_ID_17						(E2010_BASE_ERROR_ID + 17)
#define	E2010_ERROR_ID_18						(E2010_BASE_ERROR_ID + 18)
#define	E2010_ERROR_ID_19						(E2010_BASE_ERROR_ID + 19)
#define	E2010_ERROR_ID_20						(E2010_BASE_ERROR_ID + 20)
#define	E2010_ERROR_ID_21						(E2010_BASE_ERROR_ID + 21)
#define	E2010_ERROR_ID_22						(E2010_BASE_ERROR_ID + 22)
#define	E2010_ERROR_ID_23						(E2010_BASE_ERROR_ID + 23)
#define	E2010_ERROR_ID_24						(E2010_BASE_ERROR_ID + 24)
#define	E2010_ERROR_ID_25						(E2010_BASE_ERROR_ID + 25)
#define	E2010_ERROR_ID_26						(E2010_BASE_ERROR_ID + 26)
#define	E2010_ERROR_ID_27						(E2010_BASE_ERROR_ID + 27)
#define	E2010_ERROR_ID_28						(E2010_BASE_ERROR_ID + 28)
#define	E2010_ERROR_ID_29						(E2010_BASE_ERROR_ID + 29)
#define	E2010_ERROR_ID_30						(E2010_BASE_ERROR_ID + 30)
#define	E2010_ERROR_ID_31						(E2010_BASE_ERROR_ID + 31)
#define	E2010_ERROR_ID_32						(E2010_BASE_ERROR_ID + 32)
#define	E2010_ERROR_ID_33						(E2010_BASE_ERROR_ID + 33)
#define	E2010_ERROR_ID_34						(E2010_BASE_ERROR_ID + 34)
#define	E2010_ERROR_ID_35						(E2010_BASE_ERROR_ID + 35)
#define	E2010_ERROR_ID_36						(E2010_BASE_ERROR_ID + 36)
#define	E2010_ERROR_ID_37						(E2010_BASE_ERROR_ID + 37)
#define	E2010_ERROR_ID_38						(E2010_BASE_ERROR_ID + 38)
#define	E2010_ERROR_ID_39						(E2010_BASE_ERROR_ID + 39)
#define	E2010_ERROR_ID_40						(E2010_BASE_ERROR_ID + 40)
#define	E2010_ERROR_ID_41						(E2010_BASE_ERROR_ID + 41)
#define	E2010_ERROR_ID_42						(E2010_BASE_ERROR_ID + 42)

//------------------------------------------------------------------------------
// описание возможных ошибок библиотеки при работе с модулем E20-10
//------------------------------------------------------------------------------
STRINGTABLE
{
	E2010_ERROR_ID_00,	"Обнаруженный модуль не является E20-10."
	E2010_ERROR_ID_01,	"Ошибка внутренней функции RunMcuApplication(). Не удалось запустить микроконтроллер в режиме 'Загрузчика' (BootLoader)."
	E2010_ERROR_ID_02,	"Ошибка внутренней функции RunMcuApplication(). Не удалось запустить микроконтроллер в режиме 'Приложения' (Application)."
	E2010_ERROR_ID_03,	"Ошибка входных параметров. Один из указателей аргумента функции равен NULL."
	E2010_ERROR_ID_04,	"Микроконтроллер должен работать в режиме 'Приложения' (Application)."
	E2010_ERROR_ID_05,	"Ошибка внутренней функции ResetFPGA(). Не удалось осуществить сброс ПЛИС."
	E2010_ERROR_ID_06,	"Ошибка выделения памяти под временный буфер образа ПЛИС."
	E2010_ERROR_ID_07,	"Ошибка обнаружения ресурса с образом ПЛИС."
	E2010_ERROR_ID_08,	"Ошибка загрузки ресурса с образом ПЛИС."
	E2010_ERROR_ID_09,	"Ошибка фиксирования в памяти ресурса с образом ПЛИС."
	E2010_ERROR_ID_10,	"Ошибка определения размера ресурса с образом ПЛИС."
	E2010_ERROR_ID_11,	"Ошибка открытия файла с образом ПЛИС."
	E2010_ERROR_ID_12,	"Ошибка определения размера файла с образом ПЛИС."
	E2010_ERROR_ID_13,	"Ошибка чтения файла с образом ПЛИС."
	E2010_ERROR_ID_14,	"Ошибка закрытия файла с образом ПЛИС."
	E2010_ERROR_ID_15,	"Ошибка внутренней функции LoadPld(). Не удалось залить в ПЛИС рабочий код."
	E2010_ERROR_ID_16,	"Ошибка внутренней функции GetArray(). Не удалось прочитать массив данных из памяти микроконтроллера."
	E2010_ERROR_ID_17,	"Нельзя выполнять данную функцию во время потокового ввода данных. Только после выполнения функции STOP_ADC()."
	E2010_ERROR_ID_18,	"Ошибка внутренней функции PutArray(). Не удалось записать массив данных в память микроконтроллера."
	E2010_ERROR_ID_19,	"Ошибка выполнения функции TLUSBBASE::LDeviceIoControl(). Модуль не отвечает на запрос USB."
	E2010_ERROR_ID_20,	"WinAPI функция CreateEvent() не смогла создать событие. Для выяснения причин следует воспользоваться WinAPI функцией GetLastError()."
	E2010_ERROR_ID_21,	"Не выполнилась WinAPI функция ReadFile(). Для выяснения причин следует воспользоваться WinAPI функцией GetLastError()."
	E2010_ERROR_ID_22,	"Таймаут ожидания ввода данных."
	E2010_ERROR_ID_23,	"Не выполнилась WinAPI функция GetOverlappedResult(). Для выяснения причин следует воспользоваться WinAPI функцией GetLastError()."
	E2010_ERROR_ID_24,	"Не выполнилась WinAPI функция CloseHandle(). Для выяснения причин следует воспользоваться WinAPI функцией GetLastError()."
	E2010_ERROR_ID_25,	"Ошибка в кол-ве переданных данных."
	E2010_ERROR_ID_26,	"На данном экземпляре модуля 'E20-10' полностью отсутствует ЦАП."
	E2010_ERROR_ID_27,	"Номер канала ЦАП может принимать только следующие значения: 0 или 1."
	E2010_ERROR_ID_28,	"Операцию записи в пользовательское ППЗУ модуля необходимо предварительно разрешить с помощью функции ENABLE_FLASH_WRITE()."
	E2010_ERROR_ID_29,	"Не удалось сохранить сформированный дескриптор модуля."
	E2010_ERROR_ID_30,	"Ошибка преобразования строки в число для версии Firmware MCU."
	E2010_ERROR_ID_31,	"Следует обновить версию Firmware MCU. Утилиту обновления можно скачать с сайта www.lcard.ru."
	E2010_ERROR_ID_32,	"Ошибка выделения памяти под локальный буфер."
	E2010_ERROR_ID_33,	"Ошибка контрольной суммы структуры с дескриптором модуля."
	E2010_ERROR_ID_34,	"Кол-во активных каналов ChannelsQuantity не может быть равно нулю."
	E2010_ERROR_ID_35,	"Недопустимая ревизия модуля 'E20-10'."
	E2010_ERROR_ID_36,	"Обнаружен ресурс образа ПЛИС'а нулевой длины."
	E2010_ERROR_ID_37,	"Текущее устройство не является модулем 'E20-10'."
	E2010_ERROR_ID_38,	"Корректировочные коэффициенты масштаба должны быть в диапазоне от 0.1 до 1.9."
	E2010_ERROR_ID_39,	"Ошибка выполнения функции TLUSBBASE::LDeviceIoControl(). Не возможно аварийно сбросить BULK-канал ввода данных."
	E2010_ERROR_ID_40,	"Ошибка выполнения функции TLUSBBASE::LDeviceIoControl(). Не возможно зачистить  BULK-канал ввода данных."
	E2010_ERROR_ID_41,	"При аналоговой синхронизации ввода данных необходимо, чтобы используемый синхроканал присутствовал в управляющей таблице."
	E2010_ERROR_ID_42,	"Неизвестная модификация (исполнение) модуля 'E20-10'."
}

//------------------------------------------------------------------------------
// образ файла c кодом для ПЛИС модуля E20-10
//------------------------------------------------------------------------------
E2010PLD		RCDATA	e2010.pld
E2010MPLD	RCDATA	e2010m.pld
