/****************************************************************************
E310.rc
produced by Borland Resource Workshop
*****************************************************************************/
#include "ErrorBaseIds.h"

#define	E310_ERROR_ID_00						(E310_BASE_ERROR_ID + 0)
#define	E310_ERROR_ID_01						(E310_BASE_ERROR_ID + 1)
#define	E310_ERROR_ID_02						(E310_BASE_ERROR_ID + 2)
#define	E310_ERROR_ID_03						(E310_BASE_ERROR_ID + 3)
#define	E310_ERROR_ID_04						(E310_BASE_ERROR_ID + 4)
#define	E310_ERROR_ID_05						(E310_BASE_ERROR_ID + 5)
#define	E310_ERROR_ID_06						(E310_BASE_ERROR_ID + 6)
#define	E310_ERROR_ID_07						(E310_BASE_ERROR_ID + 7)
#define	E310_ERROR_ID_08						(E310_BASE_ERROR_ID + 8)
#define	E310_ERROR_ID_09						(E310_BASE_ERROR_ID + 9)
#define	E310_ERROR_ID_10						(E310_BASE_ERROR_ID + 10)
#define	E310_ERROR_ID_11						(E310_BASE_ERROR_ID + 11)
#define	E310_ERROR_ID_12						(E310_BASE_ERROR_ID + 12)
#define	E310_ERROR_ID_13						(E310_BASE_ERROR_ID + 13)
#define	E310_ERROR_ID_14						(E310_BASE_ERROR_ID + 14)
#define	E310_ERROR_ID_15						(E310_BASE_ERROR_ID + 15)
#define	E310_ERROR_ID_16						(E310_BASE_ERROR_ID + 16)
#define	E310_ERROR_ID_17						(E310_BASE_ERROR_ID + 17)
#define	E310_ERROR_ID_18						(E310_BASE_ERROR_ID + 18)
#define	E310_ERROR_ID_19						(E310_BASE_ERROR_ID + 19)
#define	E310_ERROR_ID_20						(E310_BASE_ERROR_ID + 20)

//------------------------------------------------------------------------------
// описание возможных ошибок библиотеки для модуля E-310
//------------------------------------------------------------------------------
STRINGTABLE
{
	E310_ERROR_ID_00,	"Обнаруженный модуль не является E-310."
	E310_ERROR_ID_01,	"Ошибка внутренней функции RunMcuApplication(). Не удалось запустить микроконтроллер в режиме 'Загрузчика' (BootLoader)."
	E310_ERROR_ID_02,	"Ошибка внутренней функции RunMcuApplication(). Не удалось запустить микроконтроллер в режиме 'Приложения' (Application)."
	E310_ERROR_ID_03,	"Ошибка входных параметров. Один из указателей аргумента функции равен NULL."
	E310_ERROR_ID_04,	"Микроконтроллер должен работать в режиме 'Приложения' (Application)."
	E310_ERROR_ID_05,	"Недопустимая ревизия модуля 'E-310'."
	E310_ERROR_ID_06,	"Ошибка внутренней функции GetArray(). Не удалось прочитать массив данных из памяти микроконтроллера."
	E310_ERROR_ID_07,	"Указан неправильный источник тактирующего сигнала генератора."
	E310_ERROR_ID_08,	"Разрешены дополнительные цифровые линии, поэтому полноценно работать с измерителем частоты невозможно."
	E310_ERROR_ID_09,	"Нельзя выполнять данную функцию во время работы генератора. Только после выполнения функции STOP_GENERATOR()."
	E310_ERROR_ID_10,	"Величина конечной частоты не может отрицительной."
	E310_ERROR_ID_11,	"Код конечной частоты превысил максимально возможное значение."
	E310_ERROR_ID_12,	"Ошибка внутренней функции PutArray(). Не удалось записать массив данных в память микроконтроллера."
	E310_ERROR_ID_13,	"Ошибка выполнения функции TLUSBBASE::LDeviceIoControl(). Модуль не отвечает на запрос USB."
	E310_ERROR_ID_14,	"Нельзя выполнять данную функцию во время работы частотомера. Только после выполнения функции STOP_FM()."
	E310_ERROR_ID_15,	"Операцию записи в пользовательское ППЗУ модуля необходимо предварительно разрешить с помощью функции ENABLE_FLASH_WRITE()."
	E310_ERROR_ID_16,	"Ошибка преобразования строки в число для версии прошивки Firmware."
	E310_ERROR_ID_17,	"Недопустимая ревизия модуля 'E-310'."
	E310_ERROR_ID_18,	"Не удалось сохранить сформированный дескриптор модуля."
	E310_ERROR_ID_19,	"Ошибка контрольной суммы структуры с дескриптором модуля."
	E310_ERROR_ID_20,	"Величина конечной частоты не может превышать половину тактовой частоты DDS."
}
