/****************************************************************************
              Lusbapi.rc produced by Borland Resource Workshop
*****************************************************************************/
#include "Lusbapi.h"

//------------------------------------------------------------------------------
// структура с версией библиотеки
//------------------------------------------------------------------------------
#define 	BUILD_MAJOR		0 			// пока 0, 1, 2, 3, 4 или 5
#define 	BUILD_MINOR		2			// пока 0, 1, 2, 3, 4 или 5

// строчка со старшим номером версии DLL
#if (VERSION_MAJOR_LUSBAPI == 0)
	#define STR_VER_MAJOR "0"
#elif (VERSION_MAJOR_LUSBAPI == 1)
	#define STR_VER_MAJOR "1"
#elif (VERSION_MAJOR_LUSBAPI == 2)
	#define STR_VER_MAJOR "2"
#elif (VERSION_MAJOR_LUSBAPI == 3)
	#define STR_VER_MAJOR "3"
#elif (VERSION_MAJOR_LUSBAPI == 4)
	#define STR_VER_MAJOR "4"
#elif (VERSION_MAJOR_LUSBAPI == 5)
	#define STR_VER_MAJOR "5"
#elif (VERSION_MAJOR_LUSBAPI == 6)
	#define STR_VER_MAJOR "6"
#elif (VERSION_MAJOR_LUSBAPI == 7)
	#define STR_VER_MAJOR "7"
#elif (VERSION_MAJOR_LUSBAPI == 8)
	#define STR_VER_MAJOR "8"
#elif (VERSION_MAJOR_LUSBAPI == 9)
	#define STR_VER_MAJOR "9"
#endif

// строчка с младшим номером версии DLL
#if (VERSION_MINOR_LUSBAPI == 0)
	#define STR_VER_MINOR "0"
#elif (VERSION_MINOR_LUSBAPI == 1)
	#define STR_VER_MINOR "1"
#elif (VERSION_MINOR_LUSBAPI == 2)
	#define STR_VER_MINOR "2"
#elif (VERSION_MINOR_LUSBAPI == 3)
	#define STR_VER_MINOR "3"
#elif (VERSION_MINOR_LUSBAPI == 4)
	#define STR_VER_MINOR "4"
#elif (VERSION_MINOR_LUSBAPI == 5)
	#define STR_VER_MINOR "5"
#elif (VERSION_MINOR_LUSBAPI == 6)
	#define STR_VER_MINOR "6"
#elif (VERSION_MINOR_LUSBAPI == 7)
	#define STR_VER_MINOR "7"
#elif (VERSION_MINOR_LUSBAPI == 8)
	#define STR_VER_MINOR "8"
#elif (VERSION_MINOR_LUSBAPI == 9)
	#define STR_VER_MINOR "9"
#endif

#if (BUILD_MAJOR == 0)
	#define STR_BUILD_MAJOR	"0"
#elif (BUILD_MAJOR == 1)
	#define STR_BUILD_MAJOR "1"
#elif (BUILD_MAJOR == 2)
	#define STR_BUILD_MAJOR "2"
#elif (BUILD_MAJOR == 3)
	#define STR_BUILD_MAJOR "3"
#elif (BUILD_MAJOR == 4)
	#define STR_BUILD_MAJOR "4"
#elif (BUILD_MAJOR == 5)
	#define STR_BUILD_MAJOR "5"
#endif

#if (BUILD_MINOR == 0)
	#define STR_BUILD_MINOR "0"
#elif (BUILD_MINOR == 1)
	#define STR_BUILD_MINOR "1"
#elif (BUILD_MINOR == 2)
	#define STR_BUILD_MINOR "2"
#elif (BUILD_MINOR == 3)
	#define STR_BUILD_MINOR "3"
#elif (BUILD_MINOR == 4)
	#define STR_BUILD_MINOR "4"
#elif (BUILD_MINOR == 5)
	#define STR_BUILD_MINOR "5"
#endif

#define FILEVER					VERSION_MAJOR_LUSBAPI,VERSION_MINOR_LUSBAPI,BUILD_MAJOR,BUILD_MINOR
#define PRODUCTVER				VERSION_MAJOR_LUSBAPI,VERSION_MINOR_LUSBAPI
#define STR_CUR_FILE_VER		STR_VER_MAJOR "." STR_VER_MINOR "." STR_BUILD_MAJOR "." STR_BUILD_MINOR "\0"
#define STR_CUR_PRODUCT_VER	STR_VER_MAJOR "." STR_VER_MINOR "\0"

VS_VERSION_INFO VERSIONINFO
FILEVERSION FILEVER
PRODUCTVERSION PRODUCTVER
FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
FILEFLAGS VS_FF_PRERELEASE
FILETYPE VFT_DLL
FILESUBTYPE VFT2_UNKNOWN
FILEOS VOS__WINDOWS32
BEGIN
  BLOCK "StringFileInfo"
   BEGIN
	 BLOCK "041904E3" // 0x04E3=1251 Cyrillic charset
	  BEGIN
       VALUE "Comments",		 		"Windows'98/Me/2000/XP/Vista/7\0"
		 VALUE "CompanyName",  			"'L Card' Ltd.\0"
		 VALUE "FileDescription",  	"DLL for 'L Card' USB devices\0"
       VALUE "FileVersion", 			STR_CUR_FILE_VER
       VALUE "InternalName", 			"Lusbapi\0"
       VALUE "LegalCopyright",   	"'L Card' Ltd., 1989-2011\0"
       VALUE "OriginalFileName", 	"Lusbapi.dll\0"
	   VALUE "ProductName", 			"Lusbapi\0"
 	   VALUE "ProductVersion", 		STR_CUR_PRODUCT_VER
	  END
	END
  BLOCK "VarFileInfo"
	BEGIN
     VALUE "Translation", 0x0419, 1251
   END
END

